<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Day 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47CB87441F7201FA00DD0BB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47CB87551F72020100DD0BB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47CB87601F72020200DD0BB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
