<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Day 3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>476E77FE1F72195500773AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>476E780F1F72195600773AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>476E781A1F72195600773AEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
