<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47DF3D431F79EE49009013EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47DF3D541F79EE49009013EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47DF3D5F1F79EE4A009013EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
